#wrap{
    min-width: 320px
}
/*************헤더 언더바 때문에 추가한 부분!!!!*****************/
.menu_ul li span{
    display: block;
    background: #008049;
    width: 0;
    height: 5px;
    position: absolute; 
    top:100%;
    left: 0;
}
.menu_ul li:hover{
    cursor: pointer;
    color:#008049!important;;
}
.menu_ul li:hover span,
.u_line{
    transition: all 0.3S;
    width: 100% !important;
}
/* ***************************메인 슬라이드 ***************************** */
/*상단이동*/
.btn_gotop{
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor:pointer;
	padding:15px;
    z-index: 999999;
    display: none;
}


.main_banner {
    max-width: 1410px; 
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.banner_box{
    display: flex;
    width: 100%;
    position: relative;

    overflow: hidden;
    margin: 0 auto;
    margin-left: 53px;
    padding-bottom: 58%;
    margin-top: 35px;

}
.banner {
    margin-top: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: calc(100% / 3 - (30px * 3));
    margin-right: 30px;

}
.banner img{
    width: 100%;
}
/*슬라이드 버튼*/
.slide{
    width: 50px;
    height: 60px;
    position: absolute;
    bottom: 50%;
    z-index: 99;
    cursor: pointer;
    transform: translateY(-50%);
}
.slide_prev {
    left: 44px;  
}
.slide_next {
    right: 28px;
}
/* 이미지 가운데로 올시 -> scale */
.on{
    transform: scale(1.2);
}


/* *************************** what's hot ***************************** */

.hot_sec_title{
    width: 100%;
    height: 152px;
    line-height: 152px;
}
.title_text{
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
}
.title_text>span{
    color: #008049;
}
.hot_sec{
    position: relative;
}
.hot_list{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 45px;
}
.hot_sec>a>img{
    width: 180px;
    height: 250px;
    transition: .3s;
}
.hot_sec:hover.hot_sec>a>img{
    scale: 1.2;
    box-shadow: 0 0 10px 0 rgb(55 55 55 / 50%);
}
.hot_sec_dis_box{
    width: 50px;
    height: 50px;
    background-color: #f1c40f;
    border-radius: 18px;
    position: absolute;
    top: 53%;
    /* %로 해야 따라다님 */
    right: 2%;
}
.hot_per_place{
    color: #828282;
}
.dis_txt{
    font-size: 19px;
    line-height: 50px;
    text-align: center;
}
.hot_sec_txt_box{
    text-align: center;
        /* scale용 */
    margin-top: 30px; 
}
/*텍스트 라인 넘치지 않게 하는 용*/
.hot_sec_txt_box div{
    max-width: 180px;
    max-height: 65px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.hot_per_name{
    height: 40px;
}
.disc_msg{
    font-style: italic;
    color: #008049;
}

    
/* *************************** ranking ***************************** */
.ranking_recommend{
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1520px;
    margin: auto;
}
.ranking{
    width: 478px;
    height: 480px;
    margin-top: 54px;
}
.title_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
}
.ranking_box{
    width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}
.ranking_title{
    font-size: 26px;
    font-weight: 800;
}
.more_info{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 23px;
    font-size: 25px;
    background-color: #008049;
    color: white;
    font-weight: 800;
    display: inline-block;
    border-radius: 5px;
}
.ranking_list_box{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-top: 2px solid #008049;
}

.r_box_list{
    height: 58px;
    border-bottom: 2px solid #008049;
    display: flex;
    white-space: nowrap;
    transition: .3s;
    align-items: center;
    padding-left: 3px;
    overflow: hidden;
}
.r_box_list>a{
    display: flex;
    gap: 13px;
    width: 100%;
}
.ranking_num{
    display: inline-block;
    text-align: center;
    display: flex;
    font-weight: 800;
}
.ranking_img{
    display: none;
}
.ranking_txt{
    display: inline-block;
    margin-left: 30px;
    width: 80%;
}
.r_txt_1>p{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.r_box_list:hover .r_txt_1>p{
    width: 244px;
}
.r_txt_2{
    display: none;
}
/*호버시*/
.r_box_list:hover{
    height: 190px;
    justify-content: center;
    position: relative;
}
/*순위*/
.r_box_list:hover .ranking_num{
    position: absolute;
    top: 43%;
}
.r_box_list:hover .ranking_img{
    width: 80px;
    height: 112px;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 16%;
}
.r_box_list:hover .r_txt_2{
    display: block;
}
.r_box_list:hover .ranking_txt{
    position: absolute;
    top: 26%;
    left: 36%;
}
/*텍스트 넘칠시 용도*/
.r_box_list:hover .ranking_txt p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 230px;
    max-height: 50px;
}

    

/* *************************** recommend(what about this?) ***************************** */
.recommend{
    width: 900px;
    height: 500px;
    margin-top: 54px;
}
.what_about_title{
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    font-weight: 800;
}
.what_about_body{
    width: 100%;
    height: 470px;
    background-color: rgb(48 68 56);
    border-radius: 25px;
    margin-top: 10px;
    /* 부모 */
    position: relative;
}
.w_a_txtbox{
     position: absolute;
     top: 45%;
     left: 5%;
     display: none;
}
.w_a_txtbox>div:nth-child(1){
    font-size: 30px;
    font-weight: 800;
    width: 254px;
    color: #ffffffa1;
}
.w_a_txtbox>div:nth-child(2){
    font-size: 18px;
    color: gainsboro;
    display: flex;
    flex-wrap: wrap;
}
.w_a_wrap>a>img{
    width: 300px;
    height: 388px;
    position: absolute;
    top: 22%;
    left: 36%;
    display: none;
    border-radius: 25px;
}
/*ul*/
.w_a_per_txt_list{
    height: 60%;
    position: absolute;
    top: 13%;
    right: 2%;
    gap: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
/*공연제목*/
.per_title_item>span{
    cursor: pointer;
    color: gainsboro;
    font-size: 26px;
    display: block;
    font-weight: 800;
    z-index: 999;
}
/*밑줄용*/
.blind{
    width: 0;
    height: 8px;
    background-color: #dcdcdc;
    border-radius: 25px;
    margin-top: 3px;
    opacity: 0;
}
/*호버시*/
.per_title_item:hover .blind{
    opacity: 1;
    transition: all .5s;
    width: 100%;
}


/* *************************** ARToN'S PICK ***************************** */
/*텍스트*/
.picks_title{
    width: 100%;
    height: 152px;
    line-height: 152px;
}
.picks_title_text{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
/* oN가리킴 */
.picks_title_text>span:nth-of-type(2){ 
    color: #008049;
}
/*그림 안*/
.picks_body{
    width: 216px;
    position: relative;
}
.picks_img_box>img{
    width: 216px;
    height: 300px;
    object-fit: fill;
}
.picks_list{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* height: 900px; */
}
.picks_box{
    width: calc(100% / 4);
    box-sizing: border-box;
    height: 400px;
    padding: 0 50px;
}
.msg_box{
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 99px;
    transform: translateY(0);
    background-color: rgba(148, 148, 148, 0.75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 16px;
    font-weight: 800;
    padding: 0 5px ;
    box-sizing: border-box;
    text-overflow: ellipsis;
    transition: .2s;
    overflow: hidden;
}
.msg_txt{
    width: 90%;
}
.picks_per_pla{
    font-style: italic;
    color: #828282;
}

/*호버시*/
.picks_sec:hover > .msg_box{
    opacity: 1;
    height: 45%;
}
/*텍스트*/
.picks_txt{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 14px;
}
/*텍스트 라인 넘치지 않게 하는 용 */
.picks_txt div{
    width: 216px;
    height: 33px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.picks_per_name{
    height: 40px;
}


/* *************************** 반응형 ***************************** */
@media screen and (max-width: 1407px) {

    /* ranking / what about this*/
    .w_a_txtbox {
        display: none !important;
    }

    .w_a_wrap>a>img {
        top: 22%;
        left: 11%;
    }

    /* ranking */
    .ranking {
        width: 700px;
    }

    .ranking_box {
        width: 100%;
    }

    .what_about_body {
        width: 700px;
        margin: 0 auto;
    }

    .what_about_title {
        margin-left: 116px;
        margin-bottom: 10px;
    }

    .ranking_recommend {
        height: 1138px;
    }

}

@media screen and (max-width:1168px) {

    /* and (min-width: 830px)  */
    /* 메인 */
    .banner {
        margin-top: 50px;
        cursor: pointer;
        position: absolute;
        top: 0;
        width: calc(100% / 3 - (20px * 3));
        margin-right: 20px;
    }


    /* hot*/
    .hot_sec {
        width: calc(100% / 5);
    }

    .hot_sec_dis_box {
        left: 55%;
    }

    .hot_sec:nth-child(9),
    .hot_sec:nth-child(10) {
        display: none;
    }

    .picks_box {
        width: calc(100% / 3);
    }


}

/* and (min-width: 648px)  */
@media screen and (max-width: 864px) {
    /* main  */
    .slide {
        width: 30px;
        height: 40px;
    }
    /* what's hot */
    .hot_sec {
        width: calc(100% / 4);
    }

    .hot_sec:nth-child(9) {
        display: block;
    }

    .hot_sec:last-child {
        display: none;
    }

    /* what about this */
    .w_a_txtbox {
        display: none !important;
    }

    .w_a_wrap>a>img {
        width: 254px;
        height: 339px;
        position: absolute;
        top: 23%;
        left: 4%;
        display: none;
        border-radius: 25px;
    }

    .what_about_body {
        width: 540px;
    }

    .per_title_item>span {
        font-size: 23px;
    }

    .recommend {
        display: flex;
        justify-content: center;
    }

    /* ranking */
    .ranking {
        width: 540px;
    }

    .ranking_box {
        width: 100%;
    }

    .w_a_txtbox {
        display: none !important;
    }

    /* ranking/ w a t 높이 */
    .ranking_recommend {
        height: 1241px;
    }

    /* arton's pick*/
    .picks_box {
        width: calc(100% / 2);
    }

    .picks_title_text {
        font-size: 30px;
    }


}

@media screen and (max-width: 654px) {

    .hot_sec {
        width: calc(100% / 3);
    }

    .hot_sec:last-child {
        display: block;
    }

    .title_text {
        font-size: 30px;
    }

    /* what bout this : 사라짐*/
    .recommend {
        display: none !important;
    }

    .ranking_recommend {
        height: 549px;
    }

    .picks_box {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .picks_title_text {
        font-size: 30px;
    }

    /* ranking */
    .ranking_list_box {
        width: 310px;
    }

    .ranking_box {
        width: 310px;
    }

    .r_box_list:hover .ranking_img {
        display: none;
    }

    .r_box_list:hover .ranking_txt {
        left: 13%;
    }

}

@media screen and (max-width: 596px) {

    /* 메인 슬라이드 사라짐 */
    .main_banner {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .whats_hot {
        margin-top: 0;
    }

    /* what's hot*/
    .hot_sec {
        width: calc(100% / 2);
    }

    .hot_sec:last-child {
        display: block;
    }




}




    


