/****************************** 비밀번호 변경******************************/
.outer_change_box{
    width: 570px;
    margin: 0 auto;
    margin-top: 120px;
}
.change_img{
    display: block;
    text-align: center;
    margin: 10px;
    width: 122px;
    height: 41px;
    margin: 18px auto;
}
.change_box{
    width: 100%;
    border: 2px solid #008049;
    margin-top: 26px;
    border-radius: 25px;
}

/* 폼 들어가기 전 글씨 */
.change_txt_box{
    margin-left: 90px;
}
.change_title{
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.change_text u{
    color: #008049;
}
.change_text{
    font-size: 14px;
    margin-top: 6px;
}
.txt_red{
    color: #c23e3e;
}
.txt_red span{
    color: black;
}
.inner_change{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}
.in_change_text{
    padding: 0px 7px;
    background-color: transparent;
    outline: none;
    border: 1px solid #008049;
    border-radius: 5px;
    height: 37px;
    width: 400px;
    margin-top: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
#new_pw{
    margin-top: 15px;
}
/* 버튼 */
.ch_btn{
    display: inline-block;
    width: 197px;
    height: 37px;
    border-radius: 6px;
    background-color: #008049;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
.pw_msg{
    margin-top: 8px;
    font-size: 12px;
    color: #5f5f5f;
}
#ch_btn_can{
    background-color: #5f5f5f;
}
/* 조건 미충족시 메세지*/
.change_msg{
    margin-top: 2px;
    font-size: 11px;
    font-weight: 700;
    color: #008049;
}
