/* *****************************폰트***************************** */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
   
#wrap{
    /* min-width: 1400px; */
}
/* *****************************헤더***************************** */
.btn_gotop{
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
	padding: 15px;
    z-index: 999999;
    display: none;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-bottom: 1px solid #828282;
}
.header_event{
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 999999;
}
.contents_area{ 
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;   
    gap: inherit;
    align-items: inherit;
}
.header_area{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    height: 80px; 
    padding: 0 0 0 20px;
    text-indent: -99999px;
    background: url(../img/메인_로고.png) no-repeat center / 120px ;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    overflow: hidden;
}
.menu_ul{
    display: flex;
    gap: 30px; 
    font-size: 17px;
    font-weight: 700; 
    padding: 0 20px;
}
.menu_ul a{
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
.menu_ul li{
    position: relative;
}
.menu_ul li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 5px;
    background-color: #22974a;
}
/* 마우스 호버시 밑줄 왼쪽에서 오른쪽 */
.menu_ul > li:hover::after{
    transition: all .5s;
    width: 100%;
}
/* 아이콘 영역 */
.icon_list{
    display: flex;
    align-items: center;
    height: 100%;
}
.search_area{
    display: flex;
    margin-right: 10px;
}
.icon_area{    
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 13px;
    box-sizing: border-box;
}
.search_bar{
    width: 30px;
    height: 30px;
    background: url(../img/g_search.png) no-repeat center / 25px;
}
#srch_con{
    width: 250px;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 5px solid #000;
    padding: 0 5px;
    box-sizing: border-box;
}
.search{
    margin: 0px 10px;
}
.icon_sec{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 10px;
}
.rank_img{
    width: 40px;
    height: 40px;
    background: url(../img/g_lank.png) no-repeat center / 30px;
}
.login_img{
    width: 40px;
    height: 40px;
    background: url(../img/g_login.png) no-repeat center / 30px;
}
.my_img{
    width: 40px;
    height: 40px;
    background: url(../img/마이페이지아이콘.png) no-repeat center / 60px;
}
.text{
    font-size: 13px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s;
}
.my_img + .text{
    transform: translateX(-7px);
    white-space: nowrap;
}
.icon_sec:hover .text{
    opacity: 1;
}
/* ***************************** 푸터 ***************************** */
.footer{
    width: 100%;
    height: 400px;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 120px;
    align-items: center;
}
.f_logo{
    width: 300px;
    height: 300px;
    background: url(../img/최종_푸터_로고.png) no-repeat center / contain;
    text-indent: -9999px;
}
.f_desc{ 
    width: 500px;
}
.f_title{
    font-size: 24px;
    font-weight: 800;
}
.cst_num{
    width: 125px;
}
.cst_num img{   
    width: 40px;
}
.f_number{
    margin: 0%;
    font-size: 24px;
    font-weight: 900;
}