.rank_area{
    margin-top: 100px;
}
.rank_title{
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0px 0 100px 0;
}
.rank_menu{
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}
.rank_li{
    width: calc(100% / 7);
    line-height: 60px;
    text-align: center;
    float: left;
    border: 2px solid #ddd;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
}
.menu_a{
    display: block;
    width: 100%;
    height: 100%;
}
/* 클릭 했을때 배경색과 글씨 색깔 변경 */
.rank_cnk{
    background-color: #fcffcb;
    color: #008049;
}
.rank_date{
    width: 100%;
    position: relative;
}
.date_cate{
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #000;
}
.date{
    float: left;
    line-height: 50px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 900;
    color: #8f8787;
    position: relative;
}
.date::after{
    content: "";
    display: inline-block;
    width: 3px;
    height: 15px;
    background-color: #ddd;
    margin-left: 10px;
}
.high_bar{
    width: 0;
    height: 5px;
    background-color: #008049;
    position: absolute;
    left: 0%;
    top: 8%;
    transition: all .5s;
}
.date:hover > .high_bar{
    width: 61%;
}
.date:last-child::after{
    display: none;
}
.high_rank{
    display: flex;
}
/* 배경색 바뀌기 */
.high_rank_box{
    width: calc(100% / 3);
    height: 675px;
    position: relative;
    padding: 60px 69px 70px 70px;
    box-sizing: border-box;
}
/* 1등만 백그라운드 보여주게 하기 */
.high_rank_box:first-child{
    width: calc(100% / 3);
    height: 675px;
    position: relative;
    padding: 60px 69px 70px 70px;
    background: linear-gradient(-45deg ,#fcffcb ,pink,#fcffcb,aqua);
    background-size: 500%;
    background-position: 100%;
    box-sizing: border-box;
    animation: back 10s linear infinite;
}
@keyframes back {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.rank_item_box{
    width: 100%;
    height: 365px;
    overflow: hidden;
    position: relative;
}
.rank_item {
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.rank_item:hover {
    transform: scale(1.2);
}
.rank_mark{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 71px;
    background: url(../img/rank/rank_icon.png) no-repeat center / cover;
    text-align: center;
    font-weight: 600;
    color: #fcffcb;
    line-height: 41px;
}
.rank_mark::before{
    content: "ㅡ";
    position: absolute;
    left: 19px;
    top: 16px;
}
.item_title {
    margin: 20px 0;
    width: 120%;
    font-size: 14px;
    font-weight: 700;
    height: 43px;
    color: #333;
    transform: translateX(-23px);
    text-align: center;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_info{
    font-size: 13px;
    color: rgb(68, 67, 67);
    height: 60px;
    border-bottom: 1px solid rgb(68, 67, 67);
    line-height: 18px;
    text-align: center;
}
.indi_area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 5px;
}
.reservate_percen{
    margin-right: 30px;
    font-size: 21px;
    font-weight: 600;
}
.rank_item_list{

}
.rank_list_box{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: #ddd;
    border-top: 1px solid #ddd;
}
.list_rank{
    text-align: center;
    margin: 0px 40px 0 40px;
    border-bottom: 1px solid;
}
.list_img_box{
    width: 80px;
    height: 112px;
    margin-right: 40px;
}
.list_img{
    width: 100%;
    height: 100%;
}
.list_title_box{
    border-right: 1px solid #ddd;
    padding-right: 250px;
}
.list_title {
    height: 90px;
    width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.wish_total{
    font-size: 14px;
    color: #ff7d1e;
    font-weight: 600;
}
.list_info{
    font-size: 15px;
    line-height: 24px;
    color: #999;
    text-align: center;
    margin: 0 93px;
}
.date_pick{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    height: 100%;
    font-size: 22px;
    text-align: center;
    background: #fcffcb;
    font-weight: 600;
    color: #ec7d2c;
    background: url(../img/rank/date_img.png) no-repeat 50px 15px / 24px;
    outline: none;
}
.date_pick + img{
    display: none;
}