/******************************회원가입******************************/
.reg_box{
    width: 500px;
    margin: 0 auto;
}
.reg_title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
.inner_reg{
    display: flex;
    gap: 55px;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid #008049;
    margin-top: 14px;
    border-radius: 25px;
}
.form_sec{
    width: 330px;
}
/* 아이디 중복 체크*/
#id_dup{
    display: inline-block;
    height: 30px;
    padding: 0 13px;
    border: 1px solid #008049;
    border-radius: 28px;
    font-size: 12px;
    line-height: 29px;
    font-weight: 700;
    background: white;
    margin-top: 6px;
    cursor: pointer;
}
.form_text{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 17px;
}
.reg_text, .gender_box{
    padding: 0px 7px;
    background-color: transparent;
    outline: none;
    border: 1px solid #008049;
    border-radius: 5px;
    height: 37px;
    width: inherit;
    margin-top: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.pw_msg{
    font-size: 12px;
    color: #372e2e;
    margin-left: 6px;
}

.gender_box{
    background-color: transparent;
    height: 37px;
}
#u_gender{
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 12px;
    font-size: 14px;
    padding-top: 8px;
    outline: none;
}
/* 성별텍스트 */
.gender_txt{
    margin-top: 7px;
    font-size: 14px;
    font-weight: 700;
}
.form_sec p,.form_sec span{
    display: inline;
    font-size: 12px;
}
label:nth-last-child(1){
    display: inline-block;
    margin-top: 0px;
    font-size: 10px;
}
/* 체크박스 */
.promo_btn_img{
    display: inline-block;
    background: url(../img/terms/m_chcek_off_s_20.png) no-repeat center / contain;
    width: 15px;
    cursor: pointer;
    height: 15px;
    position: relative;
    top: 3px;
    left: 5px;
}
#promo_btn{
    display: none;
}
#promo_btn:checked~label>.promo_btn_img{
    background: url(../img/terms/m_chcek_on_s.png) no-repeat center / contain;
}
/* 가입 버튼 */
#reg_btn_agr{
    display: inline-block;
    width: 330px;
    height: 37px;
    border-radius: 6px;
    background-color: #008049;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    border: none;
    cursor: pointer;
    margin: 15px 0;
}
/*조건 미충족시 메세지*/
.reg_msg{
    margin-top: 2px;
    font-size: 10px;
    font-weight: 700;
    color: #008049;
}


