.terms_sec{
    width: 570px;
    margin: 0 auto;
}
.terms_title{
    margin: 10px auto;
    width: 122px;
    height: 41px;
    background: url(../img/arton_main_logo.png) no-repeat center / contain;
}
.terms_list{
    margin-top: 24px;
    border-radius: 25px;
    border: 2px solid #22974a;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.terms_box{
    margin-top: 20px;
    width: 458px;
    height: 191px;
}
input{
    display: none;
}
label{
    font-weight: 600;
}
.chk_icon{
    display: inline-block;
    background: url(../img/terms/m_chcek_off_s_20.png) no-repeat center / contain;
    width: 20px;
    cursor: pointer;
    height: 20px;
    position: relative;
    top: 5px;
    left: 24px;
}
#terms_service:checked+label>.chk_icon,
#terms_privacy:checked+label>.chk_icon{
    background: url(../img/terms/m_chcek_on_s.png) no-repeat center / contain;
}
#terms_privacy+label>.chk_icon{
    left: 8px;
}
#terms_privacy:checked+label>.chk_icon{
    left: 8px;
}
.txt_box{
    height: 180px;
    background: inherit;
    border: 1px solid darkgreen;
    border-radius: 9px;
    font-size: 13px;
    margin-top: 12px;
    overflow: hidden;
    overflow: auto;
    /* 스크롤용 */
}
/* 스크롤용 */
.txt_box::-webkit-scrollbar{
    width: 9px;
}
.txt_box::-webkit-scrollbar-thumb{
    background: #008049;
    border-radius: 4px;
}
.article_txt{
    padding: 0px 15px;
}

.prmo_txt_without{
    border: none;
}
.last_terms_title{
    font-weight: 600;
    font-weight: 600;
    font-size: 15px;
}
.last_terms_txt{
    margin-top: 5px;
    font-size: 13px;
}
.li_last{
    height: 63px;
}
.btn_area{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}
.btn_type{
    display: inline-block;
    width: 226px;
    height: 36px;
    border-radius: 8px;
    background-color: #008049;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border: none;
    cursor: pointer;
}
#terms_btn_can{
    background-color: #5f5f5f;
}